@font-face {
  font-family: 'Pokemon';
  src: url('./fonts/pokemon.ttf') format('Pokemon');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: 'Pokemon', sans-serif;
  background-color: rgba(0, 140, 255, 0.59);
}
h1 {
  font-size: 500%;
  border: 5px double yellow;
  background-color: rgba(0, 0, 255, 0.519);
  color: yellow;
}
.stadium {
  width: 100%;
  height: 600px;
  border: 5px solid black;
  border-radius: 99%;
  background-image: url(https://i.redd.it/v4vq7z2kl3031.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
span {
  font-size: 200%;
}